<main>

<input (keydown.enter)="moveFocus(input2)" [(ngModel)]="user.name" type="text">

<input #input2 (keydown.enter)="moveFocus(input3)" [(ngModel)]="user.lastname" type="text">

<input #input3 (keydown.enter)="moveFocus(input4)" [(ngModel)]="user.gender" type="text">

<input #input4 (keydown.enter)="ngClick()" [(ngModel)]="user.age" type="text">
<button  (click)="ngClick()">users adder</button>
</main>


<section>

<table>
  <tr *ngFor="let user of userlist">

<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.gender}}</td>
<td [ngClass]="{'green-age': user.age >= 18, 'red-age': user.age < 18}" >{{user.age}}</td>
  </tr>
</table>

</section>